In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
df1 = pd.read_csv('구별 장애인 수.csv', encoding='utf-8-sig')

df1 = df1.loc[3:,['자치구', '합계']]

for i,data in enumerate(df1['합계']):
  df1['합계'][i] = data.replace(',','')
 
df1.sort_values(by=['합계', '자치구'])

     자치구      합계
21  영등포구   10542
17   양천구   11390
3    종로구   11412
4     중구   12353
12   도봉구   12551
13   노원구   12951
18   강서구   14539
19   구로구   14607
25   강남구  15,200
22   동작구   15200
9    중랑구   15436
5    용산구   15701
8   동대문구   17441
7    광진구   17490
14   은평구   17558
27   강동구  18,307
16   마포구   18280
24   서초구   18307
26   송파구  20,286
20   금천구   20265
23   관악구   20286
6    성동구   20394
11   강북구   21773
10   성북구   27312
15  서대문구   28727