In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [10]:
disabled = pd.read_csv('[데이터] 서울시 내 각 구별 장애인 수 현황.csv')
disabled.head()

# 서울시 장애인 총 인구 수
disabled_seoul = disabled.loc[[2],['합계']]
disabled_seoul

        합계
2  394,190

        합계
2  394,190